/*              Header Css        */
*{
    margin: 0;
    padding: 0;
}

header {
    height: 100vh;
    background-image: url(../assets/v1016-b-08.jpg);
    background-position: center;
    background-size: cover;
}

nav {
    display: flex;
    justify-content: end;
    width: 100vw;
    padding-top: 10px;
    padding-left: -3%;
    padding-right: 12%;
    position: fixed;
    z-index: 5;
}

nav > ul {
    margin-top: 8px;
}

nav > ul > li {
    list-style: none;
    display: inline-block;
    padding: 0 25px;
    z-index: 7;
}

nav > ul > li > a {
    text-decoration: none;
    color: white;
    font-weight: 300;
    font-size: 18px;
}

nav > ul > li > a:hover {
    color: burlywood;
    transition: 0.3s;
}

.sticky {
    height: 50px;
    background: black;
    transition: 0.3s;
}

.main-container {
    width: 80%;
    height: 80%;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    display: flex;
}

.main-text {
    width: 50%;
    top: 36%;
    position: relative;
    left: 4%;
    height: 76%;
}

.profile-photo {
    width: 50%;
    position: relative;
    top: 25%;
}

.profile-photo > img {
    width: 300px;
    height: 325px;
    border-radius: 120px;
    border: 5px solid #000000;
}

.main-text > div > h1:nth-child(1) {
    color: #938f8f;
    font-family: 'Iskoola Pota';
    font-size: 24px;

}

.main-text > div > h1:nth-child(2) {
    color: #e5e5e5;
    font-family: 'Iskoola Pota';
    font-size: 48px;
    font-weight: 400;
    line-height: 54px;

}

.main-text > div > h5 {
    color: #e5e5e5;
    font-size: 15px;
    position: absolute;
    justify-content: end;
    margin-left: 35%;
}

.main-text > div {
    position: relative;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    margin: auto;
}

.profile-photo > button {
    background-color: #878383;
    border:4px solid black;
    width: 130px;
    height: 40px;
    font-family: "Cambria Math";
    font-weight: bold;
    font-size: large;
}
.profile-photo>button:hover{
    transform: scale(1.2);
    transition: 0.3s;
    cursor: pointer;
}

.profile-photo > div {
    width: 100%;
    height: 85px;
    display: flex;
    margin-top: 20px;
    position: absolute;
    margin-left: -50px;
}

.profile-photo > div > li > a > img {
    width: 50px;
    height: 40px;

}

.profile-photo > div > li {
    list-style: none;
    margin-left: 10px;
}
.profile-photo>div>li>a>img:hover{
    transition:0.3ms;
    transform: scale(1.03);
}
/*              Discover me  css      */
#discoverMe {
    height: 100vh;
    border: 3px solid black;
    position: relative;
    background-color: black;
}

#discoverMe > h1 {
    position: absolute;
    top: 8%;
    left: 5%;
    font-size: 56px;
    font-family: "Iskoola Pota";
    text-shadow: 3px 3px #a39d9d;
    font-weight: 400;
    color: #e5e5e5;
}

.discoverMe-contain {
    position: absolute;
    width: 60%;
    top: 34%;
    left: 20%;
}

.discoverMe-contain > p {
    font-size: 22px;
    color: #e5e5e5;
}

#discoverMe > img {
    width: 650px;
    position: absolute;
    bottom: 0;
    right: 18px;
}
#discoverMe>button{
    height: 40px;
    width: 150px;
    background-color: black;
    color: white;
    border: 2px solid #f61212;
    position: absolute;
    bottom: 10%;
    right: 35%;



}
#discoverMe>button:hover{
    cursor: pointer;
    transform: scale(1.4);
    transition: 0.3s;
}
#discoverMe>button>a{
    color: #e5e5e5;
    display: flex;
    justify-content: center;
    text-decoration: none;
}
/*             education part css        */
#education {
    height: 100vh;
    border: 4px solid black;
    position: relative;
}

#education > h1 {
    position: absolute;
    top: 8%;
    left: 5%;
    font-size: 56px;
    font-family: "Iskoola Pota";
    text-shadow: 2px 2px #807c7c;
    z-index: 1;
}

#education > img {
    position: absolute;
    top: 5%;
    right: 8%;
    width: 75%;
    height: 95%;
}
/*             Skills part      */
#skills {
    height: 100vh;
    border: 4px solid black;
    position: relative;
}

#skills > h1 {
    position: absolute;
    top: 8%;
    left: 5%;
    font-size: 56px;
    font-family: "Iskoola Pota";
    text-shadow: 2px 2px #807c7c;
    z-index: 1;
}

.skill-contain {
    position: absolute;
    height: 600px;
    width: 100%;
    top: 20%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skill-contain > div {
    height: 30%;
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.skill-img > div {
    width: 120px;
    height: 120px;
    position: relative;
}

.skill-img > div > img {
    position: absolute;
    width: 100%;
    background-position: center;
    background-size: cover;
}

.skill-contain > div:nth-child(2) > h2 {
    margin-left: 40%;
}

.skill-contain > div:nth-child(3) {
    height: 30%;
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.skill-contain > div:nth-child(3) > div {
    width: 120px;
    height: 120px;
    position: relative;

}
/* project part text css */
#project {
    height: 100vh;
    border: 4px solid black;
    position: relative;
    background-color: black;
}

#project > h1 {
    position: absolute;
    top: 8%;
    left: 5%;
    font-size: 56px;
    font-family: "Iskoola Pota";
    text-shadow: 3px 3px #6f6c6c;
    z-index: 1;
    color: #ffffff;
}
/* end goal part css */
#endGoal {
    height: 100vh;
    border: 6px solid black;
    position: relative;
    display: flex;
}

#endGoal>img{
    width: 55%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    position:center;
    display: flex;

}



footer {
    position: relative;
    height: 100vh;
    background: black;
    display: flex;
}
.headContactme{
    width: 100%;
    height: 20%;
    background-color: #727272;
    border: 2px solid black;

}
.headContactme>h1 {
    position: absolute;
    top: 3%;
    /*left: 14%;*/
    font-size: 56px;
    font-family: "Iskoola Pota";
    text-shadow: 2px 2px #1a1919;
    color: #090808;
    align-items: center;
}
.detailD{
    width: 50%;
    height: 90%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center ;
    border:4px solid black;





}

.sImg{
    width: 100%;
    height: 30%;
    display:flex;
    align-items: center;
    justify-content:space-evenly;




}
.sImg>li{
    list-style: none;
    margin-left: 10px;


}
.sImg>li>a>img {
    width: 50px;
    height: 40px;
}
.sendD{
    width: 50%;
    height: 90%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 4px solid black;

}
.sendD>input{
    background-color: black;
    color: white;
    width: 60%;
    height: 6%;
}
.sendD>input:nth-child(4){
   height: 15%;
}
.sendD>button{
    width:160px;
    height: 40px;
    background-color: #807c7c;
    font-size: 15px;

}
.sendD>button:hover{
    cursor:pointer;
    transform: scale(1.2);
}
/* project part css */

#projects_topic {
    height: 90vh;
    position: relative;
    background-color: black;

}

.my_project {
    position: absolute;
    top: 25%;
    left: 5%;


}

.my_project > h1 {
    font-size: 60px;
    color: #d35400;
}

.my_project > h1 > span {
    font-size: 60px;
    color: white;
}

.my_project > h3 {
    font-size: 20px;
    color: white;
    padding-left: 15px;

}

.projects{
    height: 80%;
    width: 100%;
    position: absolute;
    bottom: 0;

}
#container {
    height: 100vh;
    margin: 0;
    padding: 0;
    display: grid ;
    place-items: center
}

#slider-container {
    height: 300px;
    width: 85vw;
    max-width: 1400px;
    /*background: #54d5e4;*/
    /*box-shadow: 5px 5px 8px gray inset;*/
    position: relative;
    overflow: hidden;
    padding: 20px;
}

#slider-container .btn {
    position: absolute;
    top: calc(50% - 30px);
    height: 30px;
    width: 30px;
    border-left: 8px solid #d35400;
    border-top: 8px solid #d35400;
    transition-property: all;
    transition-duration: 0.3s;
}

#slider-container .btn:hover {
    transform: scale(1.1);
    cursor: pointer;
    transition-property: all;
    transition-duration: 0.3s;

}

#slider-container .btn.inactive {
    border-color: rgb(153, 121, 126)
}

#slider-container .btn:first-of-type {
    transform: rotate(-45deg);
    left: 10px
}

#slider-container .btn:last-of-type {
    transform: rotate(135deg);
    right: 10px;
}

#slider-container #slider {
    display: flex;
    width: 1000%;
    height: 100%;
    transition: all .5s;
}

#slider-container #slider .slide {
    width: 200px;
    height: 100%;
    margin: auto 10px;
    /*background-color: #a847a4;*/
    box-shadow: 1px 1px 2px 1px white, -1px -1px 2px 1px white;
    display: grid;
    place-items: center;
}

.slide>a>button{
    width: 80px;
    height: 30px;
    background-color: #d35400;
    cursor: pointer;
    border: 0px;
    color: white;

}
.slide>a>button:hover{
    transform: scale(1.2);
}
footer>h4{
    display: flex;
    bottom: 2%;
    right: 5%;
    position: absolute;
    color: white;
}







